<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b6092fcca0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
    <link rel="shortcut icon" href="/images/handshake-regular.svg"/>
</head>
<body>

<header class="header">
        
    <div class="header_top">

        <a href="home.html"><img src="images/logo-mercado-liebre.svg" class="logo_ml" alt="logo_mercadoliebre"></a>

            <div class="search-container">

                <form action="">
                    <input type="text" placeholder="Buscar..." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>

            </div>    

            <div class="frase">
                <h2><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
            </div>

        </div>

    <nav class="header_bottom">

            <ul class="site_navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <li class="popupb"><a href="#"><i class="fa-solid fa-tag" style="color:#39b54a;"></i></a>
                    <div class="popup"><a href="#"><img src="/images/megasale.jpg" alt=""></a></div>
                </li>
            </ul>

            <ul class="login_navbar">
                <li><a href="register.html">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="login.html">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>

    </nav>

    <a href="" class="hamburger_menu"><i class="fa-solid fa-bars"></i></a>

</header>
    
<main>

    <div class="banner">
         <img src="images/img-home-banner.jpg" alt="">
    </div>
        
    <div class="articulos">

        <section class="dos"> 

             <h3 id="tit1" class="maintit">Basado en tu última visita</h3>

                <section class="ultima_visita">   
                    
                    <article id="articulo1" class="articulo">
                    
                        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook_Pro">

                        <div class="datosprod">
                        
                            <p class="envio"><i class="fa-solid fa-truck-fast"></i></p>
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                            <br>
                            <h4 class="nombre_producto">MacBook Pro 2019</h4>
                        
                        </div>

                    </article>

                    <article class="articulo">

                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung_Galaxy_S10">
                        
                        <div class="datosprod">

                            <p class="envio"><i class="fa-solid fa-truck-fast"></i></p>
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>
                            <br>
                            <h4 class="nombre_producto">Samsung Galaxy S10</h4>

                        </div>

                    </article>

                </section>

            </section>

            <section class="cuatro">

                <h3 class="maintit">Sección de Ofertas<a class="todas" href="#">Ver más</a><p class="plus"><i class="fa-solid fa-circle-plus"></i></p></h3>

                 <section class="ofertas">

                    <article class="articulo">

                        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera_moulinex">

                        <div class="datosprod">
                            <p class="envio"><i class="fa-solid fa-truck-fast"></i></p>
                            <p class="precio">$83.000</p>
                            <p class="descuento">25% off</p>
                            <h4 class="nombre_producto">Cafetera Moulinex</h4>
                        </div>

                    </article>

                    <article class="articulo">

                        <img src="/images/img-tv-samsung-smart.jpg" alt="tv_samsung_smart">
                        
                        <div class="datosprod">
                            <p class="envio"><i class="fa-solid fa-truck-fast"></i></p>
                            <p class="precio">$150.700</p>
                            <p class="descuento">15% off</p>
                            <h4 class="nombre_producto">Tv Samsung Smart</h4>
                        </div>

                    </article>     

                </section>

            </section>

        </div>

        <section class="masproductos">    

            <section class="masprod4">

                <h3 class="maintit">Te puede interesar<a class="todas" href="#">Ver más</a><p class="plus"><i class="fa-solid fa-circle-plus"></i></p></h3>

                    <section class="ofertas">

                        <div class="art2">
                            <article class="articulo">

                                <img src="/images/img-amazon_echo_dot.jpg" alt="amazon_echo_dot">

                                <div class="datosprod">
                                    <p class="envio"><i class="fa-solid fa-truck-fast"></i></p>
                                    <p class="precio">$44.001</p>
                                    <p class="descuento">15% off</p>
                                    <h4 class="nombre_producto">Amazon Echo Dot</h4>
                                </div>

                            </article>

                            <article class="articulo">

                                <img src="/images/img-lavarropas_midea.jpg" alt="lavasecarropas_midea">
                                
                                <div class="datosprod">
                                    <p class="envio"><i class="fa-solid fa-truck-fast"></i></p>
                                    <p class="precio">$399.999</p>
                                    <p class="descuento">5% off</p>
                                    <h4 class="nombre_producto">Lavasecarropas Midea </h4>
                                </div>
                            </article>  
                        </div>
                    
                    <div class="art2">
                    
                            <article class="articulo">

                                <img src="/images/img-heladera_gafa.jpg" alt="heladera_gafa">
                                
                                <div class="datosprod">
                                    <p class="envio"><i class="fa-solid fa-truck-fast"></i></p>
                                    <p class="precio">$181.599</p>
                                    <p class="descuento">18% off</p>
                                    <h4 class="nombre_producto">Heladera Gafa</h4>
                                </div>

                            </article>

                            <article class="articulo">

                                <img src="/images/img-licuadora_phillips.jpg" alt="licuadora_philips">
                                
                                <div class="datosprod">
                                    <p class="envio"><i class="fa-solid fa-truck-fast"></i></p>
                                    <p class="precio">$38.999</p>
                                    <p class="descuento">5% off</p>
                                    <h4 class="nombre_producto">Licuadora Philips</h4>
                                </div>

                            </article>
                    </div>

                </section>

            </section>

            <section class="masprod8">

                <section class="ofertas">

                    <div class="art2">

                        <article class="articulo">

                            <img src="/images/img-batidora_peabody.jpg" alt="batidora_peabody">

                            <div class="datosprod">
                                <p class="envio"><i class="fa-solid fa-truck-fast"></i></p>
                                <p class="precio">$34.200</p>
                                <p class="descuento">15% off</p>
                                <h4 class="nombre_producto">Batidora Peabody</h4>
                            </div>

                        </article>

                        <article class="articulo">
                            <img src="/images/img-cocina_longvie.jpg" alt="cocina_longvie_eurodesig">
                        
                            <div class="datosprod">
                                <p class="envio"><i class="fa-solid fa-truck-fast"></i></p>
                                <p class="precio">$372.000</p>
                                <p class="descuento">8% off</p>
                                <h4 class="nombre_producto">Cocina Longvie</h4>
                            </div>

                        </article>

                    </div>       

                    <div class="art2">    

                        <article class="articulo">

                            <img src="/images/img-cafetera-express-daewoo.jpg" alt="cafetera_express_daewoo">
                    
                            <div class="datosprod">
                                <p class="envio"><i class="fa-solid fa-truck-fast"></i></p>
                                <p class="precio">$74.999</p>
                                <p class="descuento">5% off</p>
                                <h4 class="nombre_producto">Cafetera Daewoo</h4>
                            </div>

                        </article>

                        <article class="articulo">

                            <img src="/images/img-lampara.jpg" alt="lampara_led_wifi">
                        
                            <div class="datosprod">
                                <p class="envio"><i class="fa-solid fa-truck-fast"></i></p>
                                <p class="precio">$2.149</p>
                                <p class="descuento">2% off</p>
                                <h4 class="nombre_producto">Lámpara Led Wifi</h4>
                            </div>

                        </article>

                    </div>

                </section>

            </section>

        </section>
        
        <div class="chat">

            <a href="#"><i class="fa-solid fa-message"></i></a>
            <p class="hola">¡Hola! ¿En qué te podemos ayudar?</p>

        </div>
        
</main>

<footer class="footer">

    <div class="otrosdatos">

        <section class="pie">
            <p class="iconos"><i class="fa-solid fa-credit-card"></i></p>
            <h5 class="titfooter">Pagá con tarjeta o efectivo</h5>
            <p class="descrip">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        
        <section class="pie">
            <p class="iconos"><i class="fa-solid fa-gift"></i></p>
            <h5 class="titfooter">Envío gratis desde $ 2.500</h5>
            <p class="descrip">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        
        <section class="pie">
            <p class="iconos"><i class="fa-solid fa-user-shield"></i></p>
            <h5 class="titfooter">Seguridad, de principio a fin</h5>
            <p class="descrip">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>

    </div>

    <p id="copyright">Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
            
</footer>
    
</body>

</html>