<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b6092fcca0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
    <link rel="shortcut icon" href="/images/handshake-regular.svg"/>
</head>
<body>

<header class="header">
        
    <div class="header_top">
    
        <a href="home.html"><img src="images/logo-mercado-liebre.svg" class="logo_ml" alt="logo_mercadoliebre"></a>
    
            <div class="search-container">
    
                <form action="">
                    <input type="text" placeholder="Buscar..." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
    
            </div>    
    
            <div class="frase">
                <h2><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
            </div>
    
        </div>
    
    <nav class="header_bottom">
    
        <ul class="site_navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
            <li class="popupb"><a href="#"><i class="fa-solid fa-tag" style="color:#39b54a;"></i></a>
            <div class="popup"><a href="#"><img src="/images/megasale.jpg" alt=""></a></div>
            </li>
        </ul>
    
        <ul class="login_navbar">
            <li><a href="register.html">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
            <li><a href="login.html">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
    
    </nav>
    
    <a href="" class="hamburger_menu"><i class="fa-solid fa-bars"></i></a>
    
</header>

<main>

    <h4 class="titulo">¡Hola! <i class="fa-regular fa-face-smile fa-bounce"></i> Creá tu cuenta</h4>

    <div class="reg">

    <form class="registro" action="/home.html">

        <label for="nombre">Nombre y Apellido</label>
        <input type="text" id="nombre" name="firstname" placeholder="Tu nombre y apellido es..">
        <br>

        <label for="usuario">Nombre de usuario</label>
        <input type="text" id="usuario" name="usuario" placeholder="Tu nombre de usuario es..">
        <br>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Tu email es..">
        <br>

        <label for="domicilio">Domicilio</label>
        <input type="text" id="domicilio" name="domicilio" placeholder="Tu domicilio es..">
        <br>

        <label for="perfil">Perfil del usuario</label>
        <br>
            <div class="perfilusu"> 
                <input type="radio" name="perfil" value="Comprador"><p>Comprador</p>
                <br>
                <input type="radio" name="perfil" value="Vendedor"><p>Vendedor</p>
            </div>
        <br>

        <label for="interes">Categorías de interés<p class="light">(puede elegir más de una)</p></label>
        <br>
            <div class="intereses">
                <div class="uno"><input type="checkbox" name="interes" value="Electro"><p>Electro</p></div>          
                <div class="uno"><input type="checkbox" name="interes" value="Moda"><p>Moda</p></div>           
                <div class="uno"><input type="checkbox" name="interes" value="Hogar"><p>Hogar</p></div>
                <div class="uno"><input type="checkbox" name="interes" value="Jugueteria"><p>Juguetería</p></div>
                <div class="uno"><input type="checkbox" name="interes" value="VidaSana"><p>Vida sana</p></div>         
            </div>
        <br>

        <label for="foto"><i class="fa-regular fa-user"></i> Foto de usuario</label>
        <br>
            <div class="foto"> 
            <input type="file" name="avatar" accept=".jpg" multiple>
            </div>
        <br>

        <label for="clave">Contraseña</label>
        <input type="password" id="clave" name="clave" placeholder="Escriba aquí su contraseña">
        <br>

        <label for="clave2">Confirmar contraseña</label>
        <input type="password" id="clave2" name="clave2" placeholder="Vuelva a escribir su contraseña">
        <br>

        <a href="home.html"><input type="submit" value="Enviar"></a>
        <input class="borrar" type="reset" value="Borrar datos">

    </form>

</div>

</main>

<footer class="footer">

    <div class="otrosdatos">

        <section class="pie">
            <p class="iconos"><i class="fa-solid fa-credit-card"></i></p>
            <h5 class="titfooter">Pagá con tarjeta o efectivo</h5>
            <p class="descrip">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        
        <section class="pie">
            <p class="iconos"><i class="fa-solid fa-gift"></i></p>
            <h5 class="titfooter">Envío gratis desde $ 2.500</h5>
            <p class="descrip">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        
        <section class="pie">
            <p class="iconos"><i class="fa-solid fa-user-shield"></i></p>
            <h5 class="titfooter">Seguridad, de principio a fin</h5>
            <p class="descrip">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>

    </div>

    <p id="copyright">Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
            
</footer>

</body>

</html>